<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="SXV.Feature.Validator" description="Validator definition items" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="C:\Users\sreekrishnanks\Source\Repos\2019-The-Experience-Owners\src\feature\Validator\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="SXV.Feature.Validator.Templates" database="master" path="/sitecore/templates/Feature/Validator" />
            <include name="SXV.Feature.Validator.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Validator" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>